## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset by merging dataframes
mouse_merge_df = pd.merge(mouse_metadata, study_results, on = 'Mouse ID', how= "outer")
# Display the data table for preview using pd 
mouse_merge_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice using unique
mouse_count = len(mouse_merge_df['Mouse ID'].unique())
mouse_count

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
# duplicate_id_df = mouse_merge_df.loc[:, ["Mouse ID", "Timepoint"]]
# duplicate_id_df = duplicate_id_df[duplicate_id_df.duplicated(keep=False)]
# duplicate_id_df

dup_df = mouse_merge_df[mouse_merge_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]
dup_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_data_id = duplicate_id_df.loc[:, ["Mouse ID"]]
duplicate_data_id

NameError: name 'duplicate_id_df' is not defined

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data_df = mouse_merge_df.drop(mouse_merge_df[mouse_merge_df['Mouse ID'] == 'g989'].index, inplace = False)
clean_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
new_mouse_count = len(clean_data_df['Mouse ID'].unique())
new_mouse_count

248

## Summary Statistics

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.
mean = clean_data_df.groupby('Drug Regimen').mean()["Tumor Volume (mm3)"]
median = clean_data_df.groupby('Drug Regimen').median()["Tumor Volume (mm3)"]
variance = clean_data_df.groupby('Drug Regimen').var()["Tumor Volume (mm3)"]
standard_dev = clean_data_df.groupby('Drug Regimen').std()["Tumor Volume (mm3)"]
standard_err = clean_data_df.groupby('Drug Regimen').sem()["Tumor Volume (mm3)"]

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function
summary_stats_df = pd.DataFrame({
    'mean': mean, 
    'median': median, 
    'variance': variance, 
    'standard deviation': standard_dev,
    'standard error': standard_err
})
summary_stats_df

,mean,median,variance,standard deviation,standard error
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

## Bar and Pie Charts

In [11]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
drugs = ['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo', 'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol']
x_axis = np.arange(len(new_mouse_count))

plt.bar(x_axis, drugs, color='r', alpha=0.5, align="center")
plt.title("Regimen per Mouse")
plt.xlabel("Number of Mice")
plt.ylabel("Drug Regimen")

plt.bar

TypeError: object of type 'int' has no len()

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse

filtered_tumor_df = tumor_merge.loc[tumor_merge["Drug Regimen"] == 'Capomulin']
filtered_tumor_df = tumor_merge.loc[tumor_merge["Drug Regimen"] == 'Ramicane']
filtered_tumor_df = tumor_merge.loc[tumor_merge["Drug Regimen"] ==  'Infubinol']
filtered_tumor_df = tumor_merge.loc[tumor_merge["Drug Regimen"] == 'Ceftamin']

# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

filtered_tumor_merge = tumor_merge[
    
]
treatment_reg_df = clean_data_df[clean_data_df["Drug Regimen"].isin(["Capomulin", "Ramicane", "Infubinol", "Ceftamin"])]

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)
# tumor_volume = final_volume['Tumor Volume (mm3)']

# dup_mouse.loc[:, 'Mouse ID'].unique())
# summary_chart.loc[:, 'Mouse ID']


# Create empty list to fill with tumor vol data (for plotting)
    new = filtered_last_top_merge.loc[filtered_last_tp_merge["Drug Regimen"] == treatment]['Tumor Volume (mm3)']
    quartiles = new.quantile([.25, .50, .75])
    lowerq = quartiles[,0250]
    higherq = quartiles[0.75]
    iqr = hiqherq - lowerq
    lower_bound = lowerq - 1.5 * iqr
    upper_bound = higherq + 1.5 * iqur
    print(f" Outlier for {treatment} : {new.loc[(new<lower)])

# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
capomulin = filtered_last_tp_merge

Capomulin = filtered_last_tp_merge.loc[filtered_last_tp_merge["Drug Regimen"] == "Capomulin"] ['Tumor Volume (mm3)']
Ramicane = filtered_last_tp_merge.loc[filtered_last_tp_merge["Drug Regimen"] == "Ramicane"] ['Tumor Volume (mm3)']
Infubinol = filtered_last_tp_merge.loc[filtered_last_tp_merge["Drug Regimen"] == "Infubinol"] ['Tumor Volume (mm3)']
Ceftamin = filtered_last_tp_merge.loc[filtered_last_tp_merge["Drug Regimen"] == "Ceftamin"] ['Tumor Volume (mm3)']
plt.boxplot([Capomulin,Ramicane,Infubinol,Ceftamin], labels = ["Capomulin","Ramicane","Infubinol","Ceftamin"],sym="r.")
plt.ylabel("Final Tumor Volume (mm3)")
plt.xlabel("Drug Regimen")
plt.ylim(20, 90)
plt.title("Final Tumor Volume of Each Mouse"

In [12]:
stats = filtered_tumor_df.loc[filtered_tumor_df["Drug Regimen"] == x]['Tumor Volume (mm3)']
treatments = ["Capomulin", "Ramicane", "Infubinol", "Ceftamin"]

Capomulin = filtered_tumor_df.loc[filtered_tumor_df["Drug Regimen"] == 'Capomulin']['Tumor Volume (mm3)']
Ramicane = filtered_tumor_df.loc[filtered_tumor_df["Drug Regimen"] == 'Ramicane']['Tumor Volume (mm3)']
Infubinol = filtered_tumor_df.loc[filtered_tumor_df["Drug Regimen"] == 'Infubinol']['Tumor Volume (mm3)']
Ceftamin = filtered_tumor_df.loc[filtered_tumor_df["Drug Regimen"] == 'Ceftamin']['Tumor Volume (mm3)']

data = [Capomulin, Ramicane, Infubinol, Ceftamin]
fig = plt.figure(figsize =(10, 7)) 
ax = fig.add_axes([0, 0, 1, 1]) 
bp = ax.boxplot(data) 
# show plot 
plt.show()

NameError: name 'filtered_tumor_df' is not defined

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen
mouse_weight = clean_results.loc[clean_results]

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen